{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<form  method="POST" action="#">
		{% csrf_token %}
		<h3>Ingresa el nombre de la ingredientes a la receta</h3>

		<input id="a" type="text" class="validate" name="ingrediente">

		<div class="input-field col s12">
		    <select name="reseta">
		      <option value="" disabled selected>Ingrese la receta</option>
		      {% for item in resetas %}
		      	<option value="{{item.nombre}}">{{item.nombre}}</option>
		      {% endfor %}
		    </select>
		    <label>Materialize Select</label>
		</div>

		<input type="submit"  class="btn btn-primary" value="Add">

	</form>
{% endblock %}
