{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" href="{% static 'bootstrap/css/main.css'%}">
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"> </script>
<script src="{% static 'bootstrap/js/jquery.min.js'%}"> </script>
<script src="{% static 'bootstrap/js/TweenMax.min.js'%}"> </script>
<script src="{% static 'bootstrap/js/index.js'%}"> </script>
<html>
<head>
	<title></title>
  <nav data-startColor="navbar--color--ghost" data-startSize="navbar--size--xl" data-intoColor="navbar--color--secondary" data-intoSize="navbar--size--md" class="navbar navbar-fixed-top navbar--color--ghost navbar--size--xl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Recetario</a>
    </div>
    <div id="mobileNav" class="collapse navbar-collapse">
      <!--<p class="navbar-right navbar-text">Scroll down to trigger the nav transition.</p>-->
      <div class="row">
        <div class="navbar-right navbar-text">
        <a href="/add_reseta">agregar receta</a>
      </div>
      <div class="navbar-right navbar-text">
        <a href="/add_ingrediente">agregar ingredientes</a>
      </div>
      </div>
    </div>
  </div>
</nav>
</head>
<!-- some content to allow scrolling :)-->
<body>
<div class="hero">
  <div class="overlay"></div>
</div>
</body>
</html>
{% block content %}
{% endblock %}

